<!DOCTYPE html>
<html lang="en">
  <head>
     
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#f4b862ff" />
    
    <title>Arthur Otley and the Order of the Arthropods</title>
    
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
  </head>
  <body>

    {{ content | safe }}

  </body>
</html>