---
layout: base_ebook.njk
eleventyExcludeFromCollections: true
---
<div class="text-centre text-24pt-center">ARTHUR OTLEY<br>
and the<br>
Order of the Arthropods</div1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-centre text-14pt-center">ANTHONY WEBB</div>
<br>
<br>
<br>
<div class="text-centre text-18pt-center">Ant Books</div>
<br clear=all style='mso-special-character:line-break; page-break-before:always'>
<div class="text-bookinfo">
<h1>LEGALESE</h1>
<p>ANT BOOKS</p>
<p>Published by Ant Books Ltd<br>
A fictional books company, London, England</p>
<p>First published 2025</p>
<p>Copyright Anthony Webb 2025
All rights reserved</p>
<p>Printed in England by S Johnson, Gough Square, London</p>
<p>This book is sold subject to the condition that it shall not, by way of trade or otherwise, be lent, re-sold, read out loud on the London underground, enchanted with wings or otherwise circulated without the publisher's consent in any form of binding or cover other than that in which it is published and without a similar condition including this condition (even the bit about the wings) being imposed upon the subsequent purchaser, on penalty of being magically transformed into a warty toad for a period of no less than twelve months.</p>
</div>
<br clear=all style='mso-special-character:line-break; page-break-before:always'>
<div class="text-bookinfo">
<p><em>For Arthur, just in case it wasn't obvious!</em></p>
<p><em>For a thing to become true, first you must imagine it. </em></p>
<p><em>And if you can imagine a thing, it could be true...</em></p></div>
<br clear=all style='mso-special-character:line-break; page-break-before:always'>
<br clear=all style='mso-special-character:line-break; page-break-before:always'>

<h1 class="text-center">CONTENTS</h1>
<div class="text-contents">
<p>THE STORY - PART ONE<br>
- Off to magic school</p>
<p>THE STORY - PART TWO<br>
- Mastering magic</p>
<p>THE STORY - PART THREE<br>
- Dungeon adventure</p>
<p>AT THE END<br>
- List of Characters<br>
- List of House Chants<br>
- Headmaster Professor Slumblebore's hints on exploring Hogsnorts and investigating the dungeons</p>
</div>
<br clear=all style='mso-special-character:line-break; page-break-before:always'>



    {{ content | safe }}

