---
layout: base_book.njk
eleventyExcludeFromCollections: true
---
<div class="WordSection1">
<h1 class="text-centre">ARTHUR OTLEY<br>
and the<br>
Order of the Arthropods</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<h4 class="text-centre">ANTHONY WEBB</h4>
<br>
<br>
<br>
<h2 class="text-centre">Ant Books</h2>
<br clear=all style='mso-special-character:line-break; page-break-before:always'>
<div class="text-bookinfo">
<p>ANT BOOKS</p>
<p>Published by Ant Books Ltd<br>
A fictional books company, London, England</p>
<p>First published 2025</p>
<p>Copyright Anthony Webb 2025
All rights reserved</p>
<p>Printed in England by S Johnson, Gough Square, London</p>
<p>This book is sold subject to the condition that it shall not, by way of trade or otherwise, be lent, re-sold, read out loud on the London underground, enchanted with wings or otherwise circulated without the publisher's consent in any form of binding or cover other than that in which it is published and without a similar condition including this condition (even the bit about the wings) being imposed upon the subsequent purchaser, on penalty of being magically transformed into a warty toad for a period of no less than twelve months.</p>
</div>
<br clear=all style='mso-special-character:line-break; page-break-before:always'>
<div class="text-bookinfo">
<p><em>For Arthur, just in case it wasn't obvious!</em></p>
<p><em>For a thing to become true, first you must imagine it. </em></p>
<p><em>And if you can imagine a thing, it could be true...</em></p></div>
<br clear=all style='mso-special-character:line-break; page-break-before:always'>
<br clear=all style='mso-special-character:line-break; page-break-before:always'>
<h2 class="text-center">CONTENTS</h2>
<div class="text-contents">
<p>PART ONE<br>
Off to magic school</p>
<p>PART TWO<br>
Mastering magic</p>
<p>PART THREE<br>
Dungeon adventure</p>
</div>
<br clear=all style='mso-special-character:line-break; page-break-before:always'>
<br clear=all style='mso-special-character:line-break; page-break-before:always'>
</div>

<br clear=all style='page-break-before:auto; mso-break-type:section-break'>
<div class="WordSection2">

    {{ content | safe }}

</div>
