:root {
  --fluid-30-56: clamp(1.875rem, 0.7917rem + 4.3333vw, 3.5rem);
  --fluid-20-28: clamp(1.25rem, 0.9167rem + 1.3333vw, 1.75rem);
  --fluid-16-24: clamp(1rem, 0.6667rem + 1.3333vw, 1.5rem);
  --color-primary: antiquewhite;
  --color-secondary: rgb(255, 223, 163);
}

body {
  margin: 0px;
  font-family: Garamond, Baskerville, serif;
  background-color: var(--color-secondary);
  min-height: 100vh;
}

article {
  max-width: 85ch; /* Limits the width of the article content */
  margin: 0 auto;    /* Centers the element horizontally */
  padding: 20px;
  flex-grow: 1;
}

h1 {
  font-size: var(--fluid-30-56);
}

p, p *, ul * {
  font-size: var(--fluid-20-28);
}

footer {
  padding:20px;
  background-color: var(--color-primary);
  text-align:right;
  font-size: var(--fluid-16-24);
}

header {
  padding-inline:20px;
  padding-block:10px;
  background-color: var(--color-primary);
  text-align:right;
  font-size: var(--fluid-16-24);
}

.responsive-image {
  display: block;
  position: fixed;
  right: 0px;
  bottom: 0px;
  max-width:225%;
  max-height: 80%;
  z-index: -1;
}

.flex-columns {
  display: flex;
  flex-direction: row;
}
.flex-col1 {text-align: left;}
.flex-col2 {flex-grow: 1;}
.flex-col3 {text-align: right;}

.flex-rows {
  display: flex;
  flex-direction: column;
}

input {
  padding: 20px 20px;
  border-radius: 6px;
  border: solid 1px black;
}

.btn {
  padding: 20px 20px;
  margin-inline: 10px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  min-width: 80px;
  font-size: 30px;
}
.btn-dark {
  background-color: rgba(255,255,255,0.5);
  color: black;
  border: solid 0px black;
  border-radius: 25px;
}
.btn-dark:hover {
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.5);
  cursor: pointer
}

#numberForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-centre {text-align: center;}
.text-justify {text-align: justify;}
.text-size-x2 {font-size: 2em;}
